<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= activeTab === 'shop' ? 'active' : '' %>">Shop</a>
      </li>

      <li class="main-header__item">
        <a
          href="/products"
          class="<%= activeTab === 'products' ? 'active' : '' %>"
          >Products</a
        >
      </li>

      <li class="main-header__item">
        <a href="/cart" class="<%= activeTab === 'cart' ? 'active' : '' %>"
          >Cart</a
        >
      </li>

      <li class="main-header__item">
        <a
          href="/admin/add-product"
          class="<%= activeTab === 'admin-add' ? 'active' : '' %>"
          >Add Product</a
        >
      </li>

      <li class="main-header__item">
        <a
          href="/admin/list-products"
          class="<%= activeTab === 'admin-list' ? 'active' : '' %>"
          >List Products</a
        >
      </li>
    </ul>
  </nav>
</header>
